* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

button,
input {
  outline: none;
  padding: 0;
  border: 1px solid transparent;
}

button {
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 0;
}

#root,
.wrapper {
  height: 100%;
  width: 100%;
}
